.loginRow{
  margin: auto;
  /*margin-top: 15%;*/
  height: 100vh;
  background-color: aliceblue;
  background-image: url("https://picsum.photos/2200/1000");

}
.loginBlock{
  margin-top: 10%;
  padding: 20px;
  height: fit-content;
  /*border:1px solid aqua;*/
  background-color: aliceblue;
}